/* For all elements */
* {
    font-family: sans-serif;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-color: #94d6ff;
    overflow: auto; 
    padding: 0.5% 0; /* Adds top-botton padding 0.5%, left-right 0%*/
}

/* Link elements */
.navbar a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
}

.navbar a:link, a:visited {
    text-decoration: none; 
}

.navbar a:hover {
    color: lightslategray;
}

/* Headers */ 
h1 {
    font-size: 2.5em; /* Resize text, 1 em = current font size; default 16 px, so this is 40 */
}

h2 {
    font-size: 1.75em; /* Equivalent 28 px */ 
}

/* Images with text 
.imgflex {
    display: flex; 
}
*/
.imgflexcontent {
    display: inline-block; 
    margin-left: 5px; 
    margin-top: 0px;
}

.imgside {
    float: left;
    width: 30%;
    height: 30%;
}