/* For all elements */
* {
    font-family: sans-serif;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-color: #5cc0ff;
    overflow: auto; 
    padding: 0.5% 0; /* Adds top-botton padding 0.5%, left-right 0%*/
}

/* Navbar elements */
.navbar a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
}

.navbar a:link, a:visited {
    text-decoration: none; 
}

/* Makes all hover links gray, nav and in-text */
a:hover {
    color: lightslategray;
}

/* External URLs */
.text-link {
    color: #5cc0ff;
    text-decoration: underline;
}

/* Headers */ 
h1 {
    font-size: 2.5em; /* Resize text, 1 em = current font size; default 16 px, so this is 40 */
}

h2 {
    font-size: 1.75em; /* Equivalent 28 px */ 
    color: #92663E;
}

h3 {
    font-size: 1.25em; 
    color: #A0764B;
}

/* Bolding */
b {
    color: #c09053;
}

/* Image with text containers */
/*
.container {
    display: flex; 
    flex-direction: row; 
    justify-content: left;
    height: 10%; 
    width: auto; 
    &-img {
        width: 250px;
        margin: 30px 30px 30px 0;
        float: left;
      }
      &-txt {
        display: inline;
        color:aqua;
      }
}
*/

.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.container img {
    width: 30%;
    height: 30%;
    float: left;
}

.container p {
    padding: 10px;
    display: inline;
}